Django==5.2.10
djangorestframework==3.16.1
django-filter==25.2

django-allauth==65.14.3
dj-rest-auth==7.1.1
djangorestframework_simplejwt==5.5.1

drf-yasg==1.21.14

Pillow==12.1.0
python-dotenv==1.2.1

gunicorn==22.0.0